.app-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  border: #df8e00 1px solid;
  position: relative;
  overflow: hidden;
}
.bgImage {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px 15px;

  input {
    width: 100%;
    max-width: 220px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 16px;
    color: #313131;
    border-bottom: 3px solid #df8e00;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
  }
  #submit {
    max-width: 100px;
  }
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  flex: 1 1 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #666666;
  text-shadow: 0 4px rgba(0, 0, 0, 0.2);

  .location .city {
    font-size: 32px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-weight: 700;
  }
  .location .date {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
  }
  .temp {
    font-size: 102px;
    font-weight: 900;
    margin: 5px 0;
  }
  span {
    font-weight: 700;
  }
  .wind {
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
    div {
      margin: 2px 0;
      font-weight: 700;
    }
  }
  .feelsContainer {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: -5px;
    margin-bottom: 5px;
  }
.icon {
  min-height: 100px;
}
  .feels {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -50px;
    letter-spacing: 2px;
    font-weight: 900;
  }

  .humidity {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
  }
}

.weather {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.hi-low {
  font-size: 24px;
  font-weight: 500;
}

i {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: -5px;
}
.sun-position {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
 margin-top: 40px;


}

.half-circle {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  border: 1px solid gray;
  border-bottom: 0;
}
.sun {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
  box-shadow: 0 0 8px 8px rgba(255, 165, 0, 0.7);
}


.circle-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: gray;
  top: 50%;
  right: 0;
  left: 0;
}

.sun-time {
  font-size: 14px;
  padding-bottom:20px ;
}
